
table {
    border: 3px solid grey;
}
thead {
    border-bottom: 3px solid green;
}
thead tr {
    border-bottom: 2px solid greenyellow;
}

th {
    padding: 5px;
}
.thContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
